div{
    width : 22%;
    height : 300px;
    background-color : lightblue;
    display : inline-block;
    border : 1px solid blue;
}


@media(max-width : 768px){
    div{
        width : 100%;
        display : block;
    }
}

@media (min-width: 320px){
    body{
        
}