body{
    font-family: arial; 
    margin: 0; 
}

*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
    height: 200px; 
}

/* position the img container so that you are able to position the left and rigth arrow */

.container{
    position: relative; 
}

/* hide all other images by default */
.mySlides{
    display: none; 
}

/* add a pointer when hovering over the thumbnail */
.cursor{
    cursor: pointer; 
}

/* next and previous buttons */
.prev, .next{
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    width: auto; 
    padding: 30px; 
    margin-top: -50px; 
    color: yellow; 
    font-weight: bolder; 
    font-size: 30px; 
    user-select: none; 
    border-radius: 0 3px 3px 0; 
}

/* position the next button to the right */
.next{
    right: 0; 
    border-radius: 3 0 0 3px;
}

/* on hover, add a coloured background with a bit of transparency */

.prev:hover .next:hover{
background-color:magenta;
}

/* numbertext above img can be styled too */
.numbertext{
    color: navy; 
    font-size: 20px; 
    padding: 10px 15px; 
    position: absolute; 
    top: 0; 
}

/* container forthe img txt */
.captioncontainer{
    text-align: center; 
    background-color: pink; 
    padding: 5px 15px; 
    color: white; 
}

.row:after{
    content:"";
    display: table; 
    clear: both; 
}

/* to get the column imgs side by side */
.column{
    float: left; 
    width: 16.66%; 
}

